.login__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.login__form__container{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 8rem;
    line-height: 3rem;
}

.login__heading{
    text-align: center;
    font-size: 30px;
}

.login__form{
    display: flex;
    flex-direction: column;  
}

.login__label{
    font-size: 17px;
}

.login__input{
    width: 25rem;
    height: 2.5rem;
    border: 2px solid;
    border-radius: 5px;
    
}

.login__btn{
    margin-top: 1.5rem;
    padding: 15px 20px;
    background-color: rgb(0, 153, 255);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
}

.Dont__have__an__account__text{
    text-align: center;
    font-size: 17px;
}

.login__link{
    text-decoration: none;
}

.login__link:hover{
    text-decoration: underline;
}

.wallpaper{
    width: 50%;
    background-color: red;
    height: 100vh;
}